<div class="infoBox">
  <div class="infoBoxDiv">
    <h2 class="infoBoxTitle">Nueva información</h2>
    <%= render 'form', information: @information %>
  </div>
</div>


<div class="connectLinks">
    <%= link_to 'Atrás', information_index_path %>
</div>