<p id="notice"><%= notice %></p>

<div class="infoBox">
  <div class="infoBoxDiv">
    <h2 class="infoBoxTitle">Info:</h2>
    <%= @information.info %>
  </div>
</div>

<div class="connectLinks">
  <%= link_to 'Editar', edit_information_path(@information) %> |
  <%= link_to 'Atrás', information_index_path %>
</div>