<div class="infoBox">
  <div class="infoBoxDiv">
    <div class="userDetailsImage">
    <%= render 'details/formimage', detailcase: "Autobuses" %>
    </div>
    <h2 class="infoBoxTitle">Autobuses</h2>
      <div id="users"><%= render 'details/bus', obj: @buses %></div>
    </h2>
  </div>
</div>