<div class="infoBox">
  <div class="infoBoxDiv">
    <div class="userDetailsImage">
    <%= render 'details/formimage', detailcase: "Hotel" %>
    </div>
    <h2 class="infoBoxTitle">Hoteles</h2>
      <div id="users"><%= render 'details/detail', obj: @hotel%></div>
    </h2>
  </div>
</div>