@import "bootstrap-sprockets";
@import "bootstrap";

body{
    background-color:#dde9ff;
}

.navbar {
    color: #fff;
    background-color: #eff4f7;
    margin: 0px;
    font-size: 1.75em;
    display: flex;
}

.navbar-brand{
    font-size: 2em;
}

.navbar-toggler{
    height: 10px;
}

.nav-item {
    list-style-type: none;
    margin: 10px;
}

.nav-link{
    color: #2e4084;
}

.nav-layout{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5em;
}

.navbar-collapse{
    width: 70%;
}

.logoNav{
    width:45px;
    height:auto;
}

.imageNav{
    width:40px;
    height:40px;
}

.imageShow{
    width:40px;
    height:auto;
}

.right-layout{
    width: 15%;
    height: -webkit-fill-available;
    background-color: #f8f8f9;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 20px;
}

.navRightTitle{
    font-size:1.2em;
    color: #da2d7c;
}

.body-layout{
    width: 85%;
    margin: 3%;
        align-self: flex-start;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.field{
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageButton{
        font-size: 14px;
}

.signBox{
    background-color: #eff4f7;
    width: 60%;
    height: auto;
    color: #2e4084;
    background-position: center; 
    margin: auto;
    padding: 20px;
    border: 5px solid #dde9ee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
}

.signBoxDiv{
    width:90%;
}

.signBoxTitle{
    background-position: center; 
    margin: 20px;
    text-align: center;
}

.infoBox{
    background-color: #eff4f7;
    width: 95%;
    height: auto;
    color: #2e4084;
    background-position: center; 
    margin: auto;
    padding: 20px;
    border: 5px solid #dde9ee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
}

.infoBoxDiv{
    width:90%;
}

.infoBoxTitle{
    background-position: center; 
    margin: 20px;
    text-align: center;
}

.indexTable {
    width: 100%; 
    margin: 5px;
}

.indexContent {
    width: 10%; 
    margin: 10px;    
    font-size: 0.75em;
}

.indexButton {
    width: 5%; 
    margin: 5px;
    font-size: 0.75em;
}

.actions{
    self-align: center;
    margin:3px;
}

.fieldBox{
    color: #2e4084;
    border: 1px solid #2e4084;
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.fieldText{
    color: #2e4084;
    border: 1px solid #2e4084;
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
    
}

.connectLinks{
    width: 40%;
    height: auto;
    margin: auto;
    padding: 20px;
}

.userList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding:10px;
}

.userName{
    justify-self: start;
    color: #2e4084;
}

.userDate{
    justify-self: center;
    color: #6074bd;
}

.userCity{
    justify-self: center;
    color: #6074bd;
}

.userImage{
    justify-self: end;
}

.userUsName{
    font-size:2em;
    text-align: center;
    color: #da2d7c;
}

.userUsImage{
    text-align: center;
    height:200px;
    width:auto;
}

.userUsInfo{
    font-size:1.25em;
    text-align: center;
    color: #6074bd;
}

.userDetailsImage{
    text-align: center;
    height:60px;
    width:auto;
}

.infoTitle{
    color: #2e4084;
    font-size: 1.1em;
    
}

.infoDetails{
    color: #6074bd;
    font-size: 1em;
    background-color: white;
    border: 1px solid #2e4084;
    border-radius: 2px;
}