<div class="infoBox">
  <div class="infoBoxDiv">
    <h2 class="infoBoxTitle">Nuevo Detalle</h2>
    <%= render 'form', detail: @detail %>
  </div>
</div>


<div class="connectLinks">
    <%= link_to 'Atrás', details_path %>
</div>